body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Floating Button */
.floating-btn {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0d6efd;
    color: white;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: 0.3s;
    z-index: 1000;
    animation: slideIn 1s ease;
}

.floating-btn:hover {
    background-color: #084298;
}

/* Popup Form */
.form-popup {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border: 1px solid #ccc;
    z-index: 1001;
}

.form-container {
    background-color: white;
    padding: 20px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.form-container input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

.form-container button {
    padding: 10px;
    width: 100%;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

.form-container button[type="submit"] {
    background-color: #0d6efd;
    color: white;
}

.close-btn {
    background-color: red;
    color: white;
}
@keyframes slideIn {
    from { right: -200px; }
    to { right: 0; }
}


.floating-btn2{
     position: fixed;
    right: 0;
    top: 60%;
    transform: translateY(-50%);
    background-color: #a11763;
    color: white;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: 0.9s;
    z-index: 1000;
    animation: slideIn 1s ease;

}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e3f2fd, #ffffff);
}

.container {
    width: 400px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    color: #d32f2f;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    resize: none;
    height: 60px;
}

button {
    width: 100%;
    padding: 12px;
    background: #d32f2f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #b71c1c;
}

#message {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}